---
# Dotfiles Deployment Playbook
# Deploys a Sway-based desktop environment on Ubuntu

- name: Deploy desktop environment
  hosts: localhost
  gather_facts: true
  
  vars:
    config_dir: "{{ playbook_dir }}/../configs"
    theme: "{{ lookup('file', playbook_dir + '/../themes/material-darker.yml') | from_yaml }}"
    
  tasks:
    - name: Ensure we're running on a supported system
      ansible.builtin.assert:
        that:
          - ansible_os_family == "Debian"
        fail_msg: "This playbook is designed for Debian/Ubuntu systems"
      tags: [always]

  roles:
    - role: packages
      tags: [packages]
    - role: fonts
      tags: [fonts, config]
    - role: gtk
      tags: [gtk, config]
    - role: sway
      tags: [sway, config]
    - role: waybar
      tags: [waybar, config]
    - role: alacritty
      tags: [alacritty, config]
    - role: mako
      tags: [mako, config]
    - role: fuzzel
      tags: [fuzzel, config]
    - role: swaylock
      tags: [swaylock, config]
    - role: firefox
      tags: [firefox, config]
    - role: greetd
      tags: [greetd, config]

  post_tasks:
    - name: Display completion message
      ansible.builtin.debug:
        msg: |
          Desktop environment deployed successfully!
          
          greetd has been configured with tuigreet as the display manager.
          On next reboot, you will be greeted by tuigreet.
          
          To start using sway immediately:
          1. Log out of your current session
          2. Select 'Sway' from tuigreet
          3. Or run 'sway' from a TTY
          
          Note: You may need to log out and back in for all changes to take effect.
      tags: [always]
